<?xml version="1.0"?>
<!--
/**
 * Gosave_Banner
 *
 * @category  XML
 * @package   Gosave\Banner
 * @author    https://Gosave.com.sg
 * @copyright 2023 Copyright Gosave Pvt Ltd, https://Gosave.com.sg/
 * @license   https://Gosave.com.sg/ Private
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Menu for Gosave -->
        <add id="Gosave_Banner::gsmenu"
             title="Gosave"
             module="Gosave_Banner"
             sortOrder="50"
             resource="Gosave_Banner::gsmenu"/>
        <!-- Menu for Manage Banner -->
        <add id="Gosave_Banner::manageBanner"
             title="Manage Banner"
             module="Gosave_Banner"
             sortOrder="90"
             resource="Gosave_Banner::manageBanner"
             parent="Gosave_Banner::gsmenu"/>
        <!-- Menu for Banner List -->
        <add id="Gosave_Banner::bannerList" title="Banners"
             module="Gosave_Banner"
             sortOrder="10"
             action="banner/managebanner/index"
             resource="Gosave_Banner::bannerList"
             parent="Gosave_Banner::manageBanner"/>
    </menu>
</config>
