<?xml version="1.0"?>
<!--
/**
 * Gosave_Banner
 *
 * @category  XML
 * @package   Gosave\Banner
 * @author    https://Gosave.com.sg
 * @copyright 2023 Copyright Gosave Pvt Ltd, https://Gosave.com.sg/
 * @license   https://Gosave.com.sg/ Private
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gosave\Banner\Api\BannerRepositoryInterface"
                type="Gosave\Banner\Model\BannerRepository" />
</config>
